### Data Types

Variables can store data of different types, and different types can do different things.

You can get the data type of any object by using the type() function

In [ ]:
# Data Types in Python
x='this is string'  # string
y=82            # int
z=20.32     # float
a=12+5j     # complex
b=["apple","banana","grapes"]   # list
c=("apple","banana","grapes")   # tuple
d=range(6)                      # range
e={name:"prathamesh",age:23}    # dict
f={"mango","orange","pineapple"} # set
g=frozenset({"mango","orange","pineapple"})   #fronzenset
h=True       # bool
i=b"Hello"   # bytes
j=bytearray(5)   # bytesarray
k=memoryview(bytes(5))   # memoryview

### Int

int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [10]:
a=5
b=-15222
c=86574931125887469874512365987    # There is No restriction for variable for its size of data
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

### Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [11]:
a=1.0
b=1.22254
c=452.78962
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex

Complex numbers are written with a "j" as the imaginary part

In [13]:
a=4j
b=7+9j
c=-8j
print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
<class 'complex'>
<class 'complex'>

You can convert from one type to another with the int(), float(), and complex() methods

In [17]:
a=5
b=1.5
c=8+2j

#Convert int to float
x=float(a)

#Convert float to int
y=int(b)

#Convert int to complex
z=complex(a)


print(type(x), "->" ,x)
print(type(y), "->" ,y)
print(type(z), "->" ,z)

<class 'float'> -> 5.0
<class 'int'> -> 1
<class 'complex'> -> (5+0j)

Python does not have a random() function to make a random number, but Python has a built-in module 
called random that can be used to make random numbers

In [5]:
import random
print(random.randrange(1,10))

8

### String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello"

In [6]:
a='Divya'
b="Pratibha"
print(a)
print(b)

Divya
Pratibha

In [7]:
#we can assign a multiline string to a variable by using three quotes or three single quote
#strings are nothing but array of characters
str1="""This 
is 
very 
large 
string
"""

print(str1)

This
is
very
large
string

In [10]:
#Get any character from string
string="Hello World"
print(string[1])    #get character ate position 1 (Position starts from 0)

e

In [13]:
print(string[6])

W

In [14]:
#To get the length of a string, use the len() function.
a="Aishwarya"
print(len(a))

9

In [16]:
#To check if a certain phrase or character is present in a string, we can use the keyword in
x="The distance to success is measured by your own drive"
print("success" in x)

True

In [17]:
print("Hello" in x)

False

In [20]:
if ("own" in x):
    print("Own is present")

Own is present

In [21]:
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in
print("towards" not in x)

True

#Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [23]:
a= "Python Programming"
#Slice from 2 to 8
print(a[2:9])

thon Pr

In [26]:
#Slice from starting
print(a[:18])

Python Programming

In [27]:
#Slice to end
print(a[0:])

Python Programming

In [34]:
#Negative Indexing- To slice the string from end of string
print(a[-11:-4])

Program

In [37]:
#Upper case
x="Hello World"
print(x.upper())

HELLO WORLD

In [38]:
#Lower Case
print(x.lower())

hello world

In [39]:
#Striping Method
a="   Hello World  !!"
print(a.strip())

Hello World  !!

In [40]:
#Replace String - replaces a string with another string
print(a.replace("H","T"))

   Tello World  !!

In [41]:
#Split String - splits the string into substrings
name="Hello, World"
print(name.split(","))
str1,str2=name.split(",")
print(str1)
print(str2)

['Hello', ' World']
Hello
 World

In [42]:
#String Concatination
a="Python"
b="Programming"
c=a+b
print(c)

PythonProgramming

In [43]:
#To add space we use ""
c=a+" "+b
print(c)

Python Programming

In [46]:
#String Format
#we can combine strings and numbers by using the format() method
#The format() method takes the passed arguments, formats them, and places 
#them in the string where the placeholders {} are

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [48]:
q=12
p=35
ino=10
order="i have ordered {} items, each of {} quantities with price {}"
print(order.format(ino,q,p))

i have ordered 10 items, each of 12 quantities with price 35

### Boolean

Booleans represent one of two values: True or False

In [49]:
print(5>2)
print(6==6)
print(10<7)

True
True
False

In [52]:
a=5
b=10
if(a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [53]:
#The bool() function allows you to evaluate any value, and give you True or False in return
print(bool("hello"))
print(bool(40))

True
True

In [54]:
a="Hello"
b=40
print(bool(a))
print(bool(b))

True
True

In [62]:
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones

print(bool(""))
print(bool(0))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(None))
print(bool(False))

False
False
False
False
False
False
False

In [63]:
#Function can return boolean
def myFunction() :
  return True

print(myFunction())

True

### Frozenset

In [64]:
### frozonset will make object unchangeable
fruitlist=["apple","banana","grapes","orange"]
print(fruitlist)
fruitlist[1]="kiwy"
print(fruitlist)
myfruitlist=frozenset(fruitlist)
myfruitlist[3]="coconuts"

['apple', 'banana', 'grapes', 'orange']
['apple', 'kiwy', 'grapes', 'orange']

TypeError: 'frozenset' object does not support item assignment

### Bytes

In [65]:
str="python is interesting"
arr=bytes(str,'utf-16')
print(arr)

b'\xff\xfep\x00y\x00t\x00h\x00o\x00n\x00 \x00i\x00s\x00 \x00i\x00n\x00t\x00e\x00r\x00e\x00s\x00t\x00i\x00n\x00g\x00'

In [66]:
size = 5
arr = bytes(size)
print(arr)

b'\x00\x00\x00\x00\x00'

### Byte array

In [67]:
size = 3
# will create an array of given size and initialize with null bytes
array1 = bytearray(size)
print(array1)
array1[1]=54
print(array1)

bytearray(b'\x00\x00\x00')
bytearray(b'\x006\x00')

### Memory view

In [69]:
#MemoryView-allow direct r&w access to object’s byte-oriented data
str="demo"
byte_array = bytearray(str, 'utf-8')
print('Before update:', byte_array)

mem_view = memoryview(byte_array)
# update 2nd index of mem_view to J
mem_view[2]= 84
print('After update:', byte_array)

Before update: bytearray(b'demo')
After update: bytearray(b'deTo')

### Operators

Operators are used to perform operations on variables and values

Python divides the operators in the following groups:

     1)Arithmetic operators

     2)Assignment operators
    
     3)Comparison operators

     4)Logical operators
    
     5)Identity operators

     6)Membership operators
    
     7)Bitwise operators

### Arithemetic Operators

In [72]:
name=input("Enter your name:")
print("Welcome "+name+" We are learning arrithmetic operators..")
num1=int(input("Enter Number1:"))
num2=int(input("Enter Number2:"))
print("Addition is:",num1+num2)
print("Subtraction is:",num1-num2)
print("Multiplication is:",num1*num2)
print("Division is:",num1/num2)
print("Remainder is:",num1%num2)
print("Exponentiation is:",num1**num2)
print("Floor Division is:",num1//num2)

Enter your name:Divya
Welcome Divya We are learning arrithmetic operators..
Enter Number1:4
Enter Number2:5
Addition is: 9
Subtraction is: -1
Multiplication is: 20
Division is: 0.8
Remainder is: 4
Exponentiation is: 1024
Floor Division is: 0

### Assignment operators

In [73]:
# python have 13 Assignment Operators
a=10
print(a)
a+=5  # a=a+5
print(a)
a-=7  # a=a-5
print(a)
a*=4  # a=a*5
print(a)
a/=3  # a=a/5
print(a)
a%=4   # a=a%5
print(a)
a//=3   # a=a//5
print(a)
a**=5   # a=a**5
print(a)

10
15
8
32
10.666666666666666
2.666666666666666
0.0
0.0

In [74]:
# & - Bitwise and, | -bitwise OR, ^ - bitwise XOR, 
a=2
print(a)
a&=3  # a=a&3, a=2&3, a=010 & 011, a=010, a=2
print(a)
a|=4  # a=a|4, a=2|4, a=010 | 100, a=110, a=6
print(a)
a^=5  # a=a^5, a=6^5, a=110 ^ 101, a=011, a=3
print(a)

# this is right shift -> to make number half
a>>=1  # a=a>>1, a=3>>1, a=001, a=1
print(a)

# this is left shift -> to double the number
a<<=5
print(a)

2
2
6
3
1
32

In [77]:
"""
>> - Right shift -halfs the number
<< - Left Shift - double the number

"""

'\n>> - Right shift -halfs the number\n<< - Left Shift - double the number\n\n'

### Comparison Operators


We have 6 comparision operators

    1.Equal to (==)
    
    2.Not Equal to (!=)
    
    3.Greater Than (>)
    
    4.Less than (<)
    
    5.Greator than equal to (>=)
    
    6.Less than equal to (<=)

In [79]:
num1=23
num2=34
print(num1==num2);print(num1!=num2)
print(num1>num2);print(num1<num2)
print(num1>=num2);print(num1<=num2)

False
True
False
True
False
True


### Logical Operators

We have 3 logical operators

    and
    or
    not

In [80]:
# Logical and - Returns True if both statements are true
marks=65
if marks>60 and marks < 75:
    print(" First Class")

 First Class

In [81]:
# Logical or - Returns True if one of the statements is true
marks=65
if marks<60 or marks < 75:
    print(" Not Distinction")

 Not Distinction

In [82]:
# Logical not - Reverse the result, returns False if the result is true
marks=65
print(not(marks>60 and marks < 75))

False


### Identity Operators

we have 2 Identity operators

    1.is - Returns True if both variables are the same object
    2.is not - Returns True if both variables are not the same object

In [83]:
num1=45
num2=45
print(num1 is num2)
print(num1 is not num2)
num1=45
num2=65
print(num1 is num2)
print(num1 is not num2)

True
False
False
True


### Membership Operators

    #Membership Operators used to test if a sequence is presented in an object
    1.in - Returns True if a sequence with the specified value is present in the object
    2.not in - Returns True if a sequence with the specified value is not present in the object

In [85]:
# lets consider we have a set and check elements are in set or not
set1={23,4,66,7,12,99}
print(234 in set1)
print(7 in set1)
print(66 not in set1)
print(77 not in set1)

False
True
False
True

In [86]:
# lets consider we have a list and check elements are in set or not
list1=["apple","grapes","kiwy"]
print("kiwy" in list1)
print("orange" in list1)
print("kiwy" not in list1)
print("orange" not in list1)

True
False
False
True

In [87]:
# lets consider we have a Tuple&check elements are in tuple or not
tuple1=(23,4,66,7,12,99)
print(234 in tuple1)
print(999 not in tuple1)

False
True


### Bitwise Operators

We have 6 bitwise operators

    1.AND (&) - Sets each bit to 1 if both bits are 1
    2.OR (|) - Sets each bit to 1 if one of two bits is 1
    3.XOR (^) - Sets each bit to 1 if only one of two bits is 1
    4.NOT (~) - Inverts all the bits
    5.Left Shif (<<) - Shift left by pushing zeros in from the right and let the leftmost bits fall off
    6.Right Shift (>>) - Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off