
    1.List is a collection which is ordered and changeable. Allows duplicate members.
    
    2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    
    3.Set is a collection which is unordered, changeable, and unindexed. No duplicate members.
    
    4.Dictionary is a collection which is unordered and changeable. No duplicate members.

### List

list is ordered collection of dissimilar data elements

list are indexed

list are changeable i.e mutable

list are ordered

[ ] are used to create list

In [3]:
list1 = ["abc", 34, True, 40, "male"]
#PI        0     1    2    3    4       (Positive Index start from 0 left to right)
#NI       -5    -4   -3   -2   -1       (Negative Index start from -1 right to left)

In [2]:
print(list1)

['abc', 34, True, 40, 'male']

In [4]:
type(list1)

list

### Access Items

In [7]:
#Print 40
print(list1[3])       #Positive Index
print(list1[-2])      #Negative Index

40
40

### Slicing

In [10]:
#Return third, fourth and fifth item from list using PI and NI
print(list1[2:])
print(list1[-3:])

[True, 40, 'male']
[True, 40, 'male']

In [11]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [12]:
#Return item from beginning but not include kiwi
print(list2[ :4])

['apple', 'banana', 'cherry', 'orange']

In [13]:
#Return item from cherry to end
print(list2[2: ])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
#Return items from orange but not include mango by nrgative indexing
print(list2[-4:-1])

['orange', 'kiwi', 'melon']

In [16]:
#Create another list which only contain cherry , orange and kiwi
list3 = list2[2:5]
print(list3)
print(len(list3))

['cherry', 'orange', 'kiwi']
3

In [18]:
#Check if item exists
if "mango" in list2:
    print("Mango is in list3")

Mango is in list3

### Change item Values

In [19]:
list2

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [20]:
list2[1]="grapes"
print(list2)

['apple', 'grapes', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [21]:
#Change item values within range
list2[2:4]="Strawberry","Pineapple"
print(list2)

['apple', 'grapes', 'Strawberry', 'Pineapple', 'kiwi', 'melon', 'mango']

In [22]:
#Replace more item than specify
list2[4:5]="banana","Orange"
print(list2)

['apple', 'grapes', 'Strawberry', 'Pineapple', 'banana', 'Orange', 'melon', 'mango']

### Insert items in list

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index

In [29]:
list=["apple", "banana", "cherry"]
list

['apple', 'banana', 'cherry']

In [30]:
list.insert(1,"orange")

In [31]:
print(list)

['apple', 'orange', 'banana', 'cherry']

### Append Items

To add an item to the end of the list, use the append() method

In [32]:
list

['apple', 'orange', 'banana', 'cherry']

In [33]:
list.append("banana")

In [34]:
list

['apple', 'orange', 'banana', 'cherry', 'banana']

### Extend List

To append elements from another list to the current list, use the extend() method.

In [1]:
List_1 = ["apple", "banana", "cherry"]
List_2 = ["mango", "pineapple", "papaya"]
List_1.extend(List_2)
print(List_1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [2]:
#Extend()method is also used to append any other iterable object (Tuples, Set, Dictioneries)
List_1 = ["apple", "banana", "cherry"]
List_3 = ("Orange", "Mango")
List_1.extend(List_3)
print(List_1)

['apple', 'banana', 'cherry', 'Orange', 'Mango']

### Remove List Items

The remove() method removes the specified item.

In [3]:
List_1

['apple', 'banana', 'cherry', 'Orange', 'Mango']

In [5]:
List_1.remove("banana")
print(List_1)

['apple', 'cherry', 'Orange', 'Mango']

The pop() method removes the specified index

In [6]:
List_1.pop(2)
print(List_1)

['apple', 'cherry', 'Mango']

In [7]:
#If you do not specify the index, the pop() method removes the last item.
List_1.pop()
print(List_1)

['apple', 'cherry']

The del keyword also removes the specified index

In [9]:
del List_1[1]
print(List_1)

['apple']

In [10]:
#The del keyword can also delete the list completely
List_2

['mango', 'pineapple', 'papaya']

In [11]:
del List_2

Clear The List

The clear() method empties the list.

The list still remains, but it has no content.

In [14]:
List=["Banana", "Apple", "Orange", "Mango", "Papaya"]
List.clear()
print(List)

[]

In [15]:
## Multidimensional List
numbers=[[1,2],["three","four"],[5.0,6.0]]
 #          0            1           2

In [16]:
numbers[1]

['three', 'four']

In [18]:
print(numbers[1][1])
print(numbers[2][0])

four
5.0

In [ ]:
List=["apple","mango",65.76,8j,"kiwy","orange",54]

In [23]:
# print the list using loops
for i in List:
    print(i, end=",")

### Sort List

List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [24]:
List=["Banana", "Apple", "Orange", "Mango", "Papaya"]
List.sort()
print(List)

['Apple', 'Banana', 'Mango', 'Orange', 'Papaya']

In [27]:
#Sort the list Numerically
List_1=[100, 50, 65, 82, 23]
List_1.sort()
print(List_1)

[23, 50, 65, 82, 100]

In [32]:
#To sort descending, use the keyword argument reverse = True
List=["Banana", "Apple", "Orange", "Mango", "Papaya"]
List.sort(reverse = True)
print(List)

['Papaya', 'Orange', 'Mango', 'Banana', 'Apple']

In [33]:
#The reverse() method reverses the current sorting order of the elements
List=["Banana", "Apple", "Orange", "Mango", "Papaya"]
List.reverse()
print(List)

['Papaya', 'Mango', 'Orange', 'Apple', 'Banana']

### Copy List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, 
and changes made in list1 will automatically also be made in list2

In [34]:
#Using Copy() Method
List_1 = ["apple", "banana", "cherry"]
List_2=List_1.copy()
print(List_2)

['apple', 'banana', 'cherry']

In [35]:
#Using List() Method
List_1 = ["apple", "banana", "cherry"]
List_2=list(List_1)
print(List_2)

['apple', 'banana', 'cherry']

### Join Lists

In [36]:
#By using '+' operator
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [37]:
# By appending all the items from list2 into list1, one by one
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [38]:
#We can also use extend() Mathod
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets ( ).

In [39]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Access items

In [40]:
# how to create tuple
t1=(1,3,5.6,"hi",6j,True)
# print the Tuple
print(t1)

(1, 3, 5.6, 'hi', 6j, True)

In [41]:
# check the type of tuple
print(type(t1))
# check the length of tuple
print(len(t1))
# print 3rd element i.e 5.6 with Positive Indexing
print(t1[2])
#print 3rd element i.e 5.6 with Negative Indexing
print(t1[-4])
# print all elements from tuple starting with 3
print(t1[1:])

<class 'tuple'>
6
5.6
5.6
(3, 5.6, 'hi', 6j, True)

### Slicing

In [42]:
# print all tuple elements till 6j
print(t1[0:5])
print(t1[:5])

(1, 3, 5.6, 'hi', 6j)
(1, 3, 5.6, 'hi', 6j)

In [43]:
# make a slice of t1 with 5.6 and "hi" & make the new subtuple
print(t1[-4:-2])
t2=t1[-4:-2]
print(t2)

(5.6, 'hi')
(5.6, 'hi')

In [3]:
#Check if item is present in tuple
t1=(1,3,5.6,"hi",6j,True)
if ("hi" in t1):
    print("Yes, given item is present in tuple")

Yes, given item is present in tuple

### Update Tuples

Tuples are unchangeable, or immutable.You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [6]:
a=("Divya","Python",5,"Mango",8.6,"Notebook")
b=list(a)    #Convert tuple into list
b[1]="Java"  #Update value in list
a=tuple(b)   #Again convert list intp tuple
print(a)     #Print Updated tuple

('Divya', 'Java', 5, 'Mango', 8.6, 'Notebook')

### Add Items

In [9]:
#By using append() method
a=("Divya","Python",5,"Mango",8.6,"Notebook")
b=list(a)
b.append("Orange")
a=tuple(b)
print(a)

('Divya', 'Python', 5, 'Mango', 8.6, 'Notebook', 'Orange')

In [13]:
#By adding tuple in tuple
a=("Divya","Python",5,"Mango",8.6,"Notebook")
b=("Machine Learning",74,"Pen")
a+=b    #It means a=a+b
print(a)

('Divya', 'Python', 5, 'Mango', 8.6, 'Notebook', 'Machine Learning', 74, 'Pen')

### Remove Items

In [14]:
#By using remove() method
a=("Divya","Python",5,"Mango",8.6,"Notebook")
b=list(a)
b.remove(5)
a=tuple(b)
print(a)

('Divya', 'Python', 'Mango', 8.6, 'Notebook')

In [18]:
#Delete the tuple completely by using del keyword
Tuple=("Machine Learning",74,"Pen")
del Tuple    #Tuple get deleted

### Unpack Tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple
But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [32]:
tuple=("hi", "Mobile")
(hello, Nokia)=tuple
print(hello)
print(Nokia)

hi
Mobile

In [29]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Loop Tuples

In [34]:
#Using For loop
Tuple=("Divya","Python",5,"Mango",8.6,"Notebook")
for x in Tuple:
    print(x)

Divya
Python
5
Mango
8.6
Notebook

In [36]:
#Loop through index Number
#You can also loop through the tuple items by referring to their index number.
#Use the range() and len() functions to create a suitable iterable
Tuple=("Divya","Python",5,"Mango",8.6,"Notebook")
for i in range(len(Tuple)):
    print(Tuple[i])

Divya
Python
5
Mango
8.6
Notebook

### Join Tuples

In [1]:
#By Using "+" operator
a=("Pen","Page","Notebook")
b=(1,2,3)
c=a+b
print(c)

('Pen', 'Page', 'Notebook', 1, 2, 3)

In [2]:
#Multiply Tuples by using "*" operator
a=("Pen","Page","Notebook")
Tuple = a*2
print(Tuple)

('Pen', 'Page', 'Notebook', 'Pen', 'Page', 'Notebook')

### Tuple Methods

In [6]:
#count() Method - Returns the number of times a specified value occurs in a tuple
Tuple=("hi",1,1,"Orange",55,1,"hi")
print("Count of hi is ", Tuple.count("hi"))
print("Count of 1 is ", Tuple.count(1))

Count of hi is  2
Count of 1 is  3

In [7]:
#index() Method - Searches the tuple for a specified value and returns the position of where it was found
Tuple=("hi",1,1,"Orange",55,1,"hi")
print("Index of 55 is ",Tuple.index(55))
print("Index of Orange is", Tuple.index("Orange"))

Index of 55 is  4
Index of Orange is 3

### Sets

Sets are used to store multiple items in a single variable.

set is unordered datatype

set is uninxed datatype

set is mutable for only few operations

set allows different type of elements

duplicate elements are not allowed

{ } is used to represent a set

### Create a set

In [1]:
Set = {"Banana",5.8,"Mango","Orange",1,"Book"}

In [2]:
print(Set)
print(type(Set))
print(len(Set))

{1, 'Banana', 5.8, 'Mango', 'Book', 'Orange'}
<class 'set'>
6

In [6]:
#Check if item is present or not
Set = {"Banana",5.8,"Mango","Orange",1,"Book"}
if "Banana" in Set:
    print("banana is present in set")

banana is present in set

### Access Items

In [4]:
#By using for loop and in keyword
Set = {"Banana",5.8,"Mango","Orange",1,"Book"}
for x in Set:
    print(x)

1
Banana
5.8
Mango
Book
Orange

### Change Items

Once a set is created, you cannot change its items, but you can add new items.

In [8]:
#Add items - by using add() method
Set = {"Banana",5.8,"Mango","Orange",1,"Book"}
Set.add("hi")
print(Set)

{1, 'Banana', 5.8, 'Mango', 'hi', 'Book', 'Orange'}

In [9]:
#Add item from another set into the current set - By using update() method
Set1= {"Banana",5.8,"Mango","Orange",1,"Book"}
Set2={"Apple",80,"Hello"}
Set1.update(Set2)
print(Set1)

{1, 'Banana', 'Apple', 5.8, 'Mango', 'Book', 'Orange', 80, 'Hello'}

In [16]:
#The object in the update() method does not have to be a set, it can be any iterable object
#(tuples, lists, dictionaries etc.)
Set= {"Banana",5.8,"Mango","Orange",1,"Book"}
List=["Apple",80,"Hello"]
Set.update(List)     #List is added into Set
print(Set)
Tuple=("Pen", 45.5, "Hi",98)
Set.update(Tuple)    #Tuple is added into Set
print(Set)

{1, 'Banana', 'Apple', 5.8, 'Mango', 'Book', 'Orange', 80, 'Hello'}
{1, 98, 'Banana', 'Apple', 5.8, 'Pen', 'Mango', 'Book', 'Orange', 45.5, 80, 'Hello', 'Hi'}

In [11]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'banana', 'cherry', 'apple'}

### Remove Item

In [17]:
#By using remove() method
Set= {"Banana",5.8,"Mango","Orange",1,"Book"}
Set.remove("Mango")
print(Set)

{1, 'Banana', 5.8, 'Book', 'Orange'}

In [19]:
#By using discard() method
Set = {1, 'Banana', 5.8, 'Book', 'Orange'}
Set.discard(1)
print(Set)

{'Banana', 5.8, 'Book', 'Orange'}

In [21]:
#By using pop() method - pop() method removes last item from list(
#As list is unordered, So we don't know that which item will get remove)
Set = {'Banana', 5.8, 'Book', 'Orange'}
Set.pop()
print(Set)

{'Banana', 5.8, 'Orange'}

In [22]:
#clear() method - It will empty the set
Set = {'Banana', 5.8, 'Orange'}
Set.clear()
print(Set)

set()

In [24]:
#del Keyword - Delete the set completely
Set = {'Banana', 5.8, 'Orange'}
del Set   #Whole set get deleted

### Loop Sets

In [27]:
#By using For loop
Set = {1, 2, 3, 4, 'amol', 34, (2+3j), 5.6, 'hi', 4.56}
for x in Set:
    print(x)

1
2
3
4
34
5.6
4.56
amol
(2+3j)
hi

### Join Sets

In [28]:
#By union() method - The union() method returns a new set with all items from both sets Also exclude duplicate value
set1={"Hi",4.5,"Apple",100}
set2={9.562,"orange","Python"}
set3=set1.union(set2)
print(set3)

{'Apple', 100, 4.5, 9.562, 'Hi', 'orange', 'Python'}

In [30]:
#By update() method-update() method that inserts all the items from one set into anotherAlso exclude duplicate value
set1={"Hi",4.5,"Apple",100}
set2={9.562,"orange","Python"}
set1.update(set2)
print(set1)

{'Apple', 100, 4.5, 9.562, 'Hi', 'orange', 'Python'}

In [32]:
#Intersection_update() method / intersection() method- will keep only the items that are present in both sets
set1 = {"Hi",4.5,"Apple",100}
set2 = {"Apple","mango",4.5,"Hello"}
set1.intersection_update(set2)
print(set1)

{'Apple', 4.5}

In [33]:
set1 = {"Hi",4.5,"Apple",100}
set2 = {"Apple","mango",4.5,"Hello"}
set1.intersection(set2)
print(set1)

{'Apple', 100, 'Hi', 4.5}

In [37]:
#symmetric_difference_update() method /Symmetric_difference() method / - will keep only the elements that 
#are NOT present in both setswill keep only the elements that are NOT present in both sets
set1 = {"Hi",4.5,"Apple",100}
set2 = {"Apple","mango",4.5,"Hello"}
set1.symmetric_difference_update(set2)
print(set1)

{100, 'mango', 'Hello', 'Hi'}

In [38]:
set1 = {"Hi",4.5,"Apple",100}
set2 = {"Apple","mango",4.5,"Hello"}
set1.symmetric_difference(set2)
print(set1)

{'Apple', 100, 'Hi', 4.5}

In [39]:
setC={"coa","os","c","ds","dbms",'python',"ml","java"}
setD={"c",'python',"java"}
print("setC:",setC)
print("setD:",setD)

setC: {'ml', 'dbms', 'java', 'c', 'coa', 'ds', 'python', 'os'}
setD: {'python', 'c', 'java'}

In [40]:
#is subset() method - Returns whether another set contains this set or not
print(setD.issubset(setC))
print(setC.issubset(setD))

True
False

In [41]:
#is superset() method - Returns whether this set contains another set or not
print(setD.issuperset(setC))
print(setC.issuperset(setD))

False
True

In [43]:
# is disjoint() method - Returns whether two sets have a intersection or not
setA={"apple","banana","mango"}
setB={"google","microsoft","apple"}
print(setA.isdisjoint(setC))
print(setA.isdisjoint(setB))

True
False

### Dictionaries

 Dictionary is unordered
    
it is changable

{} is used to create dictionaries

Elements will be in the forms of "key:value" pair

In [45]:
#Create dictionary
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000.0}

### Accessing items

In [48]:
#You can access the items of a dictionary by referring to its key name, inside square brackets
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
x=vehicle_dict["model"]
print(x)

720d

In [50]:
#By using get() method
x=vehicle_dict.get("brand")
print(x)

BMW

In [51]:
#The keys() method - it will return a list of all the keys in the dictionary
x=vehicle_dict.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'price'])

In [54]:
#values() method - it will return a list of all the values in the dictionary
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
x=vehicle_dict.values()
print(x)

dict_values(['BMW', '720d', 2010, 5400000.0])

In [55]:
#items() method - it will return each item in a dictionary, as tuples in a list.
x=vehicle_dict.items()
print(x)

dict_items([('brand', 'BMW'), ('model', '720d'), ('year', 2010), ('price', 5400000.0)])

In [57]:
#Check if key exists
if "model" in vehicle_dict:
    print("Model is present")

Model is present

### Change Dictionary Items

In [60]:
#You can change the value of a specific item by referring to its key name
vehicle_dict["year"]=2015
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2015, 'price': 5400000.0}

In [63]:
#update() method will update the dictionary with the items from the given argument
#The argument must be a dictionary, or an iterable object with key:value pairs
vehicle_dict.update({"colour":"Blue"})
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2015, 'price': 5400000.0, 'colour': 'Blue'}

### Add Items

In [64]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [66]:
#update() method will update the dictionary with the items from a given argument.
#If the item does not exist, the item will be added
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"}) 
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Remove Items

In [67]:
#pop() method - removes the item with the specified key name
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
vehicle_dict.pop("model")
print(vehicle_dict)

{'brand': 'BMW', 'year': 2010, 'price': 5400000.0}

In [73]:
#popitem() method - removes the last inserted item
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
vehicle_dict.popitem()
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2010}

In [72]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [74]:
#del keyword removes the item with the specified key name
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
del vehicle_dict["year"]
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'price': 5400000.0}

In [75]:
#del keyword also deletes dictionary completely
del vehicle_dict

In [77]:
#clear() method empties the dictionary
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
vehicle_dict.clear()
print(vehicle_dict)

{}

### Loop dictionaries

In [79]:
#By using for loop
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
for x in vehicle_dict:
    print(x)    #Print keys

brand
model
year
price

In [80]:
for x in vehicle_dict:
    print(vehicle_dict[x])  #print values

BMW
720d
2010
5400000.0

In [82]:
#values() method - to return values of a dictionary
for x in vehicle_dict.values():
    print(x)

BMW
720d
2010
5400000.0

In [83]:
#keys() method to - return the keys of a dictionary
for x in vehicle_dict.keys():
    print(x)

brand
model
year
price

In [84]:
# items() method Loop through both keys and values
for x, y in vehicle_dict.items():
  print(x, y)

brand BMW
model 720d
year 2010
price 5400000.0

### Copy a Dictionary

In [85]:
#copy() method
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}
mydict=vehicle_dict.copy()
print(mydict)

{'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000.0}

In [86]:
#dict() function
mydict=dict(vehicle_dict)
print(mydict)

{'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000.0}

### Nested Dictionaries

In [87]:
# how to create nested dictionaries
# create 4 dictionaries for your mobile, TV, vehicle
# and laptop with 4 parameters each. merge all these 4 
# sub dictionaries into only 1 called my_dict

In [88]:
# mobile Dictionary
mob_dict={
    "brand":"Panasonic",
    "model":"P55Max",
    "year":2017,
    "no_of_sim":2
}

In [89]:
# TV Dictionary
tv_dict={
    "brand":"Samsung",
    "model":"i dont know model",
    "year":2016,
    "type":"LED"
}

In [90]:
# Vehicle Dictionary
veh_dict={
    "brand":"Hero Honda",
    "model":"CBZ Extreme",
    "year":2014,
    "color":"red"
}

In [91]:
# Laptop Dictionary
laptop_dict={
    "brand":"HP",
    "model":"dont know",
    "year":2015,
    "color":"gray"
}

In [92]:
my_own_items_dict={
    "mob_dict":mob_dict,
    "tv_dict":tv_dict,
    "veh_dict":veh_dict,
    "laptop_dict":laptop_dict
}

In [93]:
print(my_own_items_dict)

{'mob_dict': {'brand': 'Panasonic', 'model': 'P55Max', 'year': 2017, 'no_of_sim': 2}, 'tv_dict': {'brand': 'Samsung', 'model': 'i dont know model', 'year': 2016, 'type': 'LED'}, 'veh_dict': {'brand': 'Hero Honda', 'model': 'CBZ Extreme', 'year': 2014, 'color': 'red'}, 'laptop_dict': {'brand': 'HP', 'model': 'dont know', 'year': 2015, 'color': 'gray'}}

In [94]:
# one more way to create dictionary using Constructor
new_dict1=dict(name="amol",city="panvel")
print(new_dict1)

{'name': 'amol', 'city': 'panvel'}