### Loops

### For Loop

In [1]:
#A for loop is used for iterating over a sequence
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
#Iterate string using loop
for x in "Notebook":
  print(x)

N
o
t
e
b
o
o
k

### break keyword

In [9]:
#break keywoed stop the loop before it has looped through all the items
# break is used to come out of the loop
List=["Book",5,"Mango",8.65,"Orange"]
for x in List:
    print(x)
    if x=="Mango":
        break

Book
5
Mango

In [11]:
 fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break      #break comes before print
  print(x)

apple

### Continue Statement

In [12]:
#continue statement stop the current iteration of the loop, and continue with the next
List=["Book",5,"Mango",8.65,"Orange"]
for x in List:
    if x=="Mango":
        continue
    print(x)

Book
5
8.65
Orange

### pass keyword

In [14]:
# pass keyword is used to specify to do nothing
# we can write pass in loop to specify loop has to do nothing
for x in List:
    pass

### Range function in for loop

In [17]:
#To loop through a set of code a specified number of times
#The range() function returns a sequence of numbers, starting from 0 by default, 
#and increments by 1 (by default), and ends at a specified number.
for i in range(10):
    print("Python")

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [20]:
#Print 1 to 100
for i in range(100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [21]:
#print 51 to 70 number in multiple of 3
for i in range(51,71,3):
    print(i, end=" ")

51 54 57 60 63 66 69

In [22]:
#print 350 to 250 number in multiple of 5
for i in range(350,250,-5):
    print(i, end=" ")

350 345 340 335 330 325 320 315 310 305 300 295 290 285 280 275 270 265 260 255

In [23]:
# print odd numbers from 700 to 800
for i in range(701,800):
    if i%2==1:
        print(i, end=" ")

701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799

In [24]:
# print numbers from 1 to 500 which are in multiple of 7 & 9 both
for i in range(1,500):
    if i%7==0 and i%9==0:
        print(i, end=" ")

63 126 189 252 315 378 441

### Nested for

In [28]:
dec = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in dec:
    for y in fruits:
        print(x,"->", y) 
    print( )

red -> apple
red -> banana
red -> cherry

big -> apple
big -> banana
big -> cherry

tasty -> apple
tasty -> banana
tasty -> cherry

In [29]:
### Else in for loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### While loop

In [ ]:
# syntax of while

variable_initilization
while condition:
    body_of_while
    increment / decrement

In [31]:
# print 1 to 10 number
i=1
while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [37]:
# print 20 to 100 which are not multiple of 5, add those numbers in list and 
# count the numbers

i=20
list1=[]
while i<=100:
    if i%5!=0:
        print(i,end=" ")
        list1.append(i)
    i=i+1
print("\n\n")    
print("list1 is:",list1)
print("Total number in list are: ",len(list1))

21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99


list1 is: [21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99]
Total number in list are:  64

In [38]:
# how to use continue keyword
i=20
while i<100:
    i=i+1
    if ((i==27 or i==37) or i==47):
        continue
    print(i,end=" ")

21 22 23 24 25 26 28 29 30 31 32 33 34 35 36 38 39 40 41 42 43 44 45 46 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [39]:
# how to use else in while loop
i=20
while i<100:
    i=i+1
    if ((i==27 or i==37) or i==47):
        continue
    print(i,end=" ")
else:
    print("\ncurrently the value of i greater than 100")

21 22 23 24 25 26 28 29 30 31 32 33 34 35 36 38 39 40 41 42 43 44 45 46 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
currently the value of i greater than 100